@page "/fetchdata"
@inject HttpClient client
@using mkabbani.Data
@using Microsoft.AspNetCore.Html
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>
@if(customer!=null)
{
    <input type="text" @bind="customer.Name" />
    @*<input type="text" @bind="customer.Address.FullName" />
    <input type="text" @bind="customer.Address.Email" />
    <input type="text" @bind="customer.Address.Address" />*@
    <button type="button" @onclick="AddCustomer">Add</button>
    <br/>
}
@*@((MarkupString)message)*@
<ModalMessage ShowAlert="ShowMessage" MessageText="MessageText" MessageTitle="MessageTitle"/>
@if (CustomerList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Full name</th>
                <th>User name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in CustomerList)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Address.Address</td>
                    <td>@item.Address.Email</td>
                    <td>@item.Address.FullName</td>
                    <td>@item.Address.UserName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public List<Customers> CustomerList { get; set; }
    public Customers customer { get; set; }
    //public string message { get; set; }
    bool ShowMessage = false;
    string MessageText = "message";
    string MessageTitle = "Title";

    protected override async Task OnInitializedAsync()
    {
        customer = new Customers { Address = new Address() };
        CustomerList = new List<Customers>();
        await FillData();

    }
    async Task FillData()
    {
        var response = await client.GetAsync("https://localhost:44373/api/customers");
        CustomerList = await response.Content.ReadAsAsync<List<Customers>>();
    }
    async void AddCustomer()
    {
        var response = await client.PostAsJsonAsync("https://localhost:44373/api/customers", customer);
        if(response.StatusCode == System.Net.HttpStatusCode.Created)
        {
            await FillData();
            ShowMessage = !ShowMessage;
            StateHasChanged();
            //show sucss message
        }
        else
        {
            //shwo error message
        }
    }
    //async void ShowMessage()
    //{
    //    message = ;
    //    StateHasChanged();
    //    await Task.Delay(3000);
    //    message = string.Empty;
    //    StateHasChanged();
    //}
}
